body {
    background-image: url('assets/Grand_Canyon_2024.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
.col{
    min-width: fit-content;
}