body {
    background-image: url('assets/YinYang.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

#textBox {
    padding: 10px;
    color: rgb(186, 170, 118);
    text-align: center;
     -webkit-text-stroke: 1px rgb(96, 84, 54)
}
    
.box{
    margin-top: 40px;
}