body {
    background-image: url('assets/Grand_Canyon_2024.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
.container {
    max-width: 100%;
    overflow-x: hidden;
}

div, p, span, table {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

table {
    width: 100%;
    display: block;
    overflow-x: auto;
}